@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
}

:root {
  font-family: "Mary Poppins", cursive;
}


body {
  font-family: "Caveat", cursive;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: aquamarine;
}


.reactButton {
  background-color: #ed875a;
  padding: 10px 20px;
  margin-left: 10px;
  border: 2px solid #242424;
}
.navbar-brand {
 font-family: "Mary Poppins", cursive;
}
h1, h2, h3, h4, h5, h6 {
 
  font-family: "Mary Poppins", cursive;
}

.app {
  min-height: 100vh;        /* full screen height */
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;                  /* pushes footer down */
}




.footer {
  background-color: #1b1b1b;
  text-align: center;
  padding: 20px 10px;
  margin-top: 40px;
  font-family: "Mary Poppins", cursive;
}

.footer h6 {
  margin: 0;
  color: #ffffff;
  font-size: 0.95rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  opacity: 0.85;
}


.card-box {
  background: #e3f099;
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
.card-img {
  width: 100px;
  height: 100px;
  border-radius: 50%; 
  object-fit: cover;
  margin-bottom: 12px;
  border: 3px solid #6eed57;
}

.active-scale:active {
  transform: scale(0.9);
}
.api-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}
